In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(data_path)

purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
players=purchase_df['SN'].unique()
len(players)

576

In [5]:
items=purchase_df['Item Name'].unique()
len(items)

179

In [6]:
purchase_df['Price'].mean()

3.050987179487176

In [7]:
len(purchase_df['Price'])

780

In [8]:
purchase_df['Price'].sum()

2379.77

In [9]:
players_gender_df=purchase_df.loc[:,['SN','Gender']]
players_gender_df.drop_duplicates(subset='SN', keep = 'first', inplace = True)
players_gender_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [10]:
gender=players_gender_df['Gender'].value_counts()
gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
gender_df=pd.DataFrame(gender)
gender_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [12]:
gender_df['Percent']=gender_df['Gender']/gender_df['Gender'].sum()*100
gender_df

                       Gender    Percent
Male                      484  84.027778
Female                     81  14.062500
Other / Non-Disclosed      11   1.909722

In [27]:
male_purchase=purchase_df.loc[purchase_df['Gender']=='Male',:]
male_purchase

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [43]:
male_purchase['Price'].count()

652

In [44]:
male_purchase['Price'].mean()

3.0178527607361953

In [45]:
male_purchase['Price'].sum()

1967.64

In [56]:

pp=male_purchase.loc[:,['SN','Price']]
pp.groupby(by=['SN']).sum().mean()

Price    4.065372
dtype: float64